.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px;
  background: black;
  min-width: $mb-min;
  box-sizing: border-box;

  &__social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__social-link {
    margin: 0 3px;
  }

  &__head {
    color: $footer-head;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__under-head {
    color: $footer-text;
    text-align: center;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 20px;
  }
  &__contacts {
    color: $footer-text;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    display: block;
  }
}