@import "src/scss/variables";
@import "src/scss/mixins";

.navigation {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 25px;
  margin: 25px 0;
  position: relative;
  box-sizing: border-box;
  min-width: $mb-min;

  &__btn {
    padding: 18px 15px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .burger-line {
      width: 17px;
      height: 2px;
      background: white;
      margin-bottom: 2px;
      transition: 0.3s all
    }
    .burger-line:last-child {
      margin-bottom: 0;
    }
  }

  &__btn-active {
    .burger-line:first-child {
      transform: rotate(45deg) translate(3px,3px);
    }
    .burger-line:nth-child(2) {
      opacity: 0;
    }
    .burger-line:last-child {
      transform: rotate(-45deg) translate(3px,-3px);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 50%;
    background: #F5F5F5;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;
  }
  &__menu--active {
    max-height: 250px;
    transition: max-height .3s;
  }
  &__item {

  }
  &__link {
    text-transform: uppercase;
    color: $head-color;
    font-size: 11px;
    padding: 10px 0 10px 15px;
    display: block;
  }
  //&__link:first-child {
  //  color: #57A4A4;
  //}
  &__link:hover {
    background: #E5E5E5;
  }
}




