.instagram {
  display: flex;
  flex-direction: column;
  padding: 42px 25px;
  min-width: $mb-min;
  box-sizing: border-box;

  &__head-container {
    display: flex;
    justify-content: space-between;

  }
  &__head {
    @include head;
    text-transform: uppercase;
  }
  &__head-link {
    display: none;
    color: $head-color;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;

    .tb-size {
      display: none;
    }
    .dt-size {
      display: none;
    }
  }
  &__item {
    width: 100%;
  }
  &__img {
    object-fit: cover;
    width: 100%;
  }
}