.recent-posts {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 30px;
  min-width: $mb-min;
  box-sizing: border-box;

  &__head {
    @include head;
    text-transform: uppercase;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__item {
    //display: flex;
    //flex-direction: column;
    //justify-content: left;
    margin-bottom: 25px;
  }

  &__img {
    margin-bottom: 15px;
  }
  &__item-head {
    @include head;
    margin-bottom: 15px;
  }
  &__item-text {
    color: $text-color;
    font-size: 11px;
  }
  &__item-desc {
    display: none;
  }
}