@media screen and (min-width: 481px) and (max-width: $tb) {
  .navigation {
    flex-direction: row;
    justify-content: center;

    &__btn {
      display: none;
    }
    &__menu {
      flex-direction: row;
      max-height: initial;
      position: static;
      width: 100%;
      justify-content: center;
      background: none;
      overflow: initial;
    }
    &__list {
      display: flex;
    }
    &__link {
      letter-spacing: 1px;
      padding: 10px;
    }
    &__link:hover {
      color: #57A4A4;
      background: none;
    }
  }

  .recent-posts {

    &__head {
      font-size: 16px;
    }

    &__item {
      display: flex;
      justify-content: left;
    }
    &__item-head {
      font-size: 16px;
    }
    &__img {
      margin-right: 20px;
    }
    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    &__item-desc {
      display: initial;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
      margin-top: 13px;
    }
  }

  .instagram {
    background: rgba(0, 0, 0, .03);

    &__head {
      font-size: 16px;
    }

    &__head-link {
      display: initial;
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;

      .tb-size {
        display: initial;
      }
    }
  }

  .footer {
    &__head {
      font-size: 16px;
    }
    &__under-head {
      font-size: 16px;
      line-height: 28px;
    }
    &__contacts {
      font-size: 16px;
      line-height: 26px;
      display: initial;
    }
  }
}